.container
  .link
    %p= link_to 'プロフィール', profile_path
    %p= link_to 'ログイン', new_user_session_path
    %p= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
    %p=link_to 'article作成', new_article_path	
    %p=link_to 'timeline', timeline_path

  = render 'commons/articles', articles: @articles