@import './variables'; 
$user-avatar-size: 30px;


.article {
  width: $size-percent;
  margin-top: 40px;
  .user-avatar {
    margin: auto 0;
  }
  .user {
    display: flex;
    margin-bottom: 18px;
    position: relative;

    &_info {
      margin: 0 8px;
      &_name {
        font-size: 14px;
        line-height: 21px;
      }
  
      .article_created {
        font-size: 12px;
        color: #9E9E9E;
        line-height: 18px;
      }
    }
  }

  .pictures {
    margin-bottom: 13px;
    width: 100%;
    position: relative;

    .page {
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 3px;
      font-size: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;

      &_num {
        padding: 3px 5px;
      }
    }
    .arrow {
      img {
        width: 20px;
      }
      &_left{
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
      &_right{
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
    }

    img {
      max-height: 300px;
      display: block;
      margin: auto;
      width: auto;
      max-width: 100%;
    }
  }

  &_active {
    display: flex;
    margin-bottom: 9px;
    img {
      width: 16px;
      height: 15px;
      margin: auto 14px auto 0px;
    }
  }

  &_content {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    word-wrap: break-word;
  }
}