@import './variables'; 
input, select, textarea {
  &.text {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid $base-border-color;
  }
}

.login_page_image {
  img {
    width: 100%;
    height: auto;
  }
}
.field {
  margin-top: 20px;
  
  .label {
    font-size: 11px;
    color: #979797;
  }
}